/* Body styles */
body {
    background-color: #f8f9fa;
}

/* Jumbotron styles */
.jumbotron {
    background-color: #e9ecef;
    padding: 2rem 1rem;
    border-radius: 0.3rem;
}

/* Card styles */
.card {
    border: none;
    border-radius: 0.5rem;
}

.card-body {
    padding: 2rem;
}

/* Footer styles */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Button styles */
.btn-green {
    background-color: #28a745;
    color: white;
    border: none;
}

.btn-green:hover {
    background-color: #218838;
    color: white;
}

/* Navbar styles */
.sticky-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020; /* Ensure it is above other content */
}

.navbar-nav .nav-link {
    font-size: 1.25rem; /* Increase the font size */
}

.navbar-brand {
    font-size: 1.25rem; /* Increase the brand font size */
}

/* Login/logout button styles */
.btn-login,
.btn-logout {
    background-color: #6c757d; /* Default color */
    color: white;
    border-radius: 0;
}

.btn-login:hover,
.btn-logout:hover {
    background-color: #5a6268; /* Hover color */
}

.btn-logout {
    display: none; /* Hide logout button by default */
}

/* Profile button styles */
.profile-btn {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.profile-btn:hover {
    text-decoration: none;
    color: inherit;
}

.modal-dialog {
    margin-top: 10%;
}

.modal-content {
    border-radius: 0;
}

/* Hover dropdown menu */
.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}