@import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@400;700&display=swap');
@import url('hoteljob_color.css');
body {
    font-family: 'Anuphan', sans-serif;
    background-color: #f4f6f9;
    margin: 0;
    padding: 0;
}

.container-fluid {
    margin-top: 20px;
}

h2 {
    font-size: 1.75rem;
    margin-bottom: 20px;
}

.form-control {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.btn-success {
    background-color: #28a745;
    border-color: #28a745;
    color: #fff;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
}

.btn-success:hover {
    background-color: #218838;
    border-color: #1e7e34;
}
