.container{
    max-width: 780px;
}
    .panel-default {
        border-color: #ddd;
        box-shadow: 0 1px 1px rgba(0,0,0,.05);
    }
    .panel-heading {
        color: #ffffff!important;
        background-color:#3498db!important;
        border-color: #ffffff;
        padding: 10px 15px;
        border-bottom: 1px solid transparent;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        font-weight: 700!important;
    }
    .panel-title {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 16px;
        color: inherit;
    }
    .panel-body {
        padding: 15px;
    }
    .form-group {
        margin-bottom: 15px;
    }