body {
    font-family: 'Anuphan', sans-serif !important;
    background-color: #e3e1d9; /* สีส้มอ่อน (Peach) */
    margin: 0;
    padding: 0;
}
h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 2em;
    color: #4E342E; /* สีส้มอิฐเข้ม */
    font-weight: 400;
}
.table-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
table {
    width: 60%;
    background-color: #3498db;
    border-radius: 10px;
    border-collapse: collapse; /* ให้เส้นขอบของเซลล์และตารางติดกัน */
}
thead th {
    background-color: #3498db; /* สีพื้นหลัง */
    color: #ffffff; /* สีตัวอักษร */
    font-size: 1.5em;
    font-weight: bold;
    text-align: center; /* จัดข้อความให้อยู่ตรงกลางแนวนอน */
    padding: 12px; /* ระยะห่างภายในเซลล์ */
    vertical-align: middle; /* จัดข้อความให้อยู่ตรงกลางแนวตั้ง */
    border-bottom: 2px solid #ddd; /* เส้นขอบล่างหนาขึ้นสำหรับ thead */
}

th, td {
    padding: 10px;
    text-align: center; /* จัดข้อความให้อยู่ตรงกลางแนวนอน */
    vertical-align: middle; /* จัดข้อความให้อยู่ตรงกลางแนวตั้ง */
    border: 1px solid #ddd; /* เพิ่มเส้นขอบให้ดูชัดเจนขึ้น */
}
th {
    background-color: #3498db; /* สีพื้นหลัง */
    color: #ffffff; /* สีตัวอักษร */
    font-size: 1.5em;
    font-weight: bold;
}
td {
    font-size: 1.2em;
    color: #4E342E; /* ตัวอักษรสีส้มอิฐเข้ม */
    background-color: #ffffff;
}
tr:nth-child(even) {
    background-color: #f2f2f2; /* เพิ่มสีพื้นหลังให้กับบรรทัดคู่ */
}
tr:last-child td {
    border-bottom: none;
}
