body {
    font-family: 'Anuphan', sans-serif !important;
    background-color: #e3e1d9; /* สีส้มอ่อน (Peach) */
    margin: 0;
    padding: 0;
}
h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 2em;
    color: #4E342E; /* สีส้มอิฐเข้ม */
    font-weight: 400;
}
.table-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
table {
    width: 60%;
    background-color: #3498db;
    border-radius: 10px;
    border-collapse: collapse; /* ให้เส้นขอบของเซลล์และตารางติดกัน */
}

